<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="db.server" value="140.84.183.195"/>
    <add key="db.database" value="biblioteca"/>
    <add key="db.uid" value="libraryConnection"/>
    <add key="db.password" value="it-2spp21.Conn][1/^7"/>
  </appSettings>
</configuration>