<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="db.server" value="YOURIP.COM"/>
    <add key="db.database" value="DBNAME"/>
    <add key="db.uid" value="CONNECTIONID"/>
    <add key="db.password" value="CONNECTIONPSWD"/>
  </appSettings>
</configuration>
